# Wordpress
APP_DIR_PATH=majk-solidarite-wordpress-data
WORDPRESS_DB_HOST=change-me
WORDPRESS_DB_NAME=change-me
WORDPRESS_DB_USER=change-me
WORDPRESS_DB_PASSWORD=change-me

# Database
MYSQL_ROOT_PASSWORD=change-me
MYSQL_DATABASE=change-me
MYSQL_USER=change-me
MYSQL_PASSWORD=change-me

# Tailscale
TS_AUTHKEY=change-me